.container {
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.container h3 {
	font-size: 36px;
	line-height: 52px;
	font-weight: 400;
	margin-bottom: 40px;
	text-align: center;
}

.container input {
	width: calc(100% - 150px);
	font-family: 'Roboto', sans-serif;
	padding: 14px 15px;
	height: 52px;
	border: 1px solid rgba(138, 138, 139, 0.2);
	border-radius: 5px;
}

.container input:focus {
	outline: none;
}

.container button {
	width: 150px;
	height: 52px;
	background-color: #1390e5;
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
}
.container__inner{
	position: relative;
}
.favoriteButton{
	position: absolute;
	left: calc(100% - 305px);
	top: 0;
}