.container {
	background-color: #e5e5e5;
	min-height: 800px;
	min-width: 1440px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.container__body {
	min-height: 720px;
	min-width: 1040px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 200px;
}
.container__header{
	background-color: #fff;
	padding: 0px 200px;
}